<div class="alert alert-danger">
  <h2>Error</h2>
  <p>{{mensaje}}</p>
  
  {{#if error}}
    <hr>
    <pre>{{error}}</pre>
  {{/if}}
  
  <a href="javascript:history.back()" class="btn btn-primary">Volver</a>
  <a href="/" class="btn btn-secondary">Ir al inicio</a>
</div>