<div class="jumbotron p-4 bg-light rounded">
  <h1 class="display-4">Sistema de Gestión de Vendedores</h1>
  <p class="lead">Aplicación CRUD para administrar vendedores utilizando Node.js, Express, MySQL y Handlebars.</p>
  <hr class="my-4">
  <p>Utiliza la barra de navegación para acceder a las diferentes secciones.</p>
  <a class="btn btn-primary btn-lg" href="/vendedores" role="button">Ver Vendedores</a>
</div>

<div class="row mt-5">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gestión de Vendedores</h5>
        <p class="card-text">Administra la información de los vendedores registrados en el sistema.</p>
        <a href="/vendedores" class="btn btn-primary">Ir a Vendedores</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Agregar Vendedor</h5>
        <p class="card-text">Registra un nuevo vendedor en el sistema con toda su información.</p>
        <a href="/vendedores/crear" class="btn btn-success">Nuevo Vendedor</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Buscar Vendedores</h5>
        <p class="card-text">Encuentra rápidamente la información de un vendedor específico.</p>
        <a href="/vendedores" class="btn btn-info">Buscar</a>
      </div>
    </div>
  </div>
</div>